
@{
    ViewData["Title"] = "UploadPicture";
}

<h1>UploadPicture</h1>

<form enctype="multipart/form-data" asp-action="UploadPicture">
    <input type="file" name="datei" dirname="C:\" />
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

