@model ASPNETCOREMVC_MovieStoreSample.Controllers.MyLinkValues

@{
    ViewData["Title"] = "Sample2";
}

<h1>Sample2</h1>

<div>
    <h4>MyLinkValues</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zahl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zahl)
        </dd>
    </dl>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
