
@{
    ViewData["Title"] = "Sample1";
}

<h1>Sample1</h1>

<form method="post">
    <input type="text" id="txtMyName" name="myText" />
    <input type="number" id="intMyNumber" name="myNumber" />
    <input type="submit" value="Senden an Post-Methode" />
</form>
