@model DependencyInjection_Sample.MockCar

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>Ausgabe unseres MockCar Objektes</p>

@Model.Marke <br />
@Model.Modell <br />
@Model.BauDatum <br />




